body, html {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  font-family: 'Arial', sans-serif;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
  margin: 0;
}

#logo {
  margin-top: 30px;
  height: 80px;
}

.heading {
  font-family: 'Eagle Lake', cursive;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2, h3, h4 {
  margin: 5px;
}

#textInput {
  width: 50%;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: lavender;
  text-align: center;
}

#submitButton {
  width: 200px;
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

#submitButton:hover {
  width: 200px;
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

img {
  height: 200px;
}

.displayCocktail {
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

#cocktailInstructions {
  font-size: 16px;
  border-radius: 5px;
  padding: 2px;
  margin: 0;
  text-align: center;
}

.ingredients {
  font-size: 16px;
}

@media only screen and (max-device-width: 480px) {
  body, html {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    font-family: 'Arial', sans-serif;
    text-align: center;
    overflow-y: scroll;
    font-size: 16px;
    margin: 0;
  }

  #logo {
    margin-top: 15px;
    height: 50px;
  }

  h2, h3, h4 {
    margin: 5px;
  }

  img {
    height: 150px;
  }

}
